@charset "UTF-8";
/*spacing*/
/*transition*/
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  color: #000000;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 1.5vw, 22px);
  line-height: 1.3;
  height: 100%;
}

body {
  background: #FFFFFF;
  color: #000000;
  font-size: clamp(16px, 1.5vw, 22px);
  height: 100%;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 20px 0;
}

h1 {
  color: #000000;
  font-size: 42px;
  font-weight: 100;
  line-height: 0.9;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  line-height: 0.9;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.02;
  margin-bottom: 10px;
  font-weight: 700;
}

h4 {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

p,
ul,
ol {
  margin: 0 0 20px 0;
}

ul,
ol {
  padding-left: 20px;
}

ul {
  list-style-type: square;
}

a {
  color: #E10A0A;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

sup {
  bottom: 1ex;
  font-size: 0.6em;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}

.button {
  background: #E10A0A;
  border: 1px solid #E10A0A;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: clamp(16px, 1.5vw, 22px);
  font-weight: 400;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 12px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: cubic-bezier(0.4, 0, 1, 1) 300ms;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.button:hover {
  background: rgb(202.5, 9, 9);
  border-color: rgb(202.5, 9, 9);
  color: #FFFFFF;
  text-decoration: none;
}

.button--secondary {
  background: #FFFFFF;
  color: #E10A0A;
  border: 1px solid #E10A0A;
}

.button--has-arrow {
  display: inline-flex;
  align-items: center;
}
.button--has-arrow span {
  margin-left: 10px;
}
.button--has-arrow svg {
  width: 30px;
}
@media (min-width: 768px) {
  .button--has-arrow svg {
    width: 38px;
  }
}

[class*=__inner] {
  padding-left: 20px;
  padding-right: 20px;
  max-width: calc(1236px + 40px);
  margin: 0 auto;
}

.lp-header {
  height: 60px;
}
@media (min-width: 480px) {
  .lp-header {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  .lp-header {
    height: 130px;
  }
}
.lp-header__wrapper {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E10A0A;
}
.lp-header__brand {
  max-width: 150px;
  background: #E10A0A;
  color: #FFFFFF;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 480px) {
  .lp-header__brand {
    max-width: 200px;
    padding: 40px;
  }
}
@media (min-width: 1024px) {
  .lp-header__brand {
    padding: 40px 80px;
    max-width: 380px;
  }
}
.lp-header__logo {
  display: block;
  width: 100%;
}
.lp-header__logo img {
  width: 150px;
  height: auto;
}
@media (min-width: 1024px) {
  .lp-header__logo img {
    width: 100%;
  }
}

.lp-hero {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .lp-hero {
    padding: 40px 0;
  }
}
.lp-hero__title {
  background-clip: text;
  background: linear-gradient(145deg, #000 -12.28%, #E10A0A 58.41%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -4.13px;
  line-height: 0.75;
  margin-bottom: 0;
}
@media (min-width: 480px) {
  .lp-hero__title {
    font-size: 88px;
    letter-spacing: -5.13px;
  }
}
@media (min-width: 768px) {
  .lp-hero__title {
    font-size: 112px;
    letter-spacing: -6.13px;
    line-height: 0.7;
  }
}
@media (min-width: 1024px) {
  .lp-hero__title {
    font-size: 136px;
    letter-spacing: -8.13px;
  }
}
@media (min-width: 1440px) {
  .lp-hero__title {
    font-size: 168px;
    letter-spacing: -9px;
    line-height: 0.71;
  }
}

.lp-subhead {
  padding: 0;
}
.lp-subhead__title {
  padding: 60px 0 30px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  max-width: 768px;
  position: relative;
  display: inline-block;
}
@media (min-width: 480px) {
  .lp-subhead__title {
    padding: 80px 0 30px;
  }
}
@media (min-width: 1024px) {
  .lp-subhead__title {
    font-size: 60px;
    padding: 140px 0 50px;
    margin-left: 20px;
  }
}
.lp-subhead__title::before, .lp-subhead__title::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background: #E10A0A;
  left: 20px;
}
@media (min-width: 480px) {
  .lp-subhead__title::before, .lp-subhead__title::after {
    left: 30px;
  }
}
@media (min-width: 1024px) {
  .lp-subhead__title::before, .lp-subhead__title::after {
    height: 50px;
    left: 40px;
  }
}
.lp-subhead__title::before {
  top: -10px;
  height: 60px;
}
@media (min-width: 480px) {
  .lp-subhead__title::before {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  .lp-subhead__title::before {
    height: 140px;
  }
}
.lp-subhead__title::after {
  bottom: -10px;
}

.lp-vertical-callouts {
  padding: 20px 0;
}
.lp-vertical-callouts__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .lp-vertical-callouts__inner {
    flex-direction: row;
    gap: 80px;
  }
}
@media (min-width: 768px) {
  .lp-vertical-callouts__intro {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .lp-vertical-callouts__intro {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .lp-vertical-callouts__description {
    font-size: 28px;
  }
}
.lp-vertical-callouts__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 80px;
  position: relative;
}
@media (min-width: 480px) {
  .lp-vertical-callouts__items {
    padding-bottom: 100px;
  }
}
@media (min-width: 768px) {
  .lp-vertical-callouts__items {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .lp-vertical-callouts__items {
    padding-bottom: 150px;
    width: 40%;
  }
}
.lp-vertical-callouts__items::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60px;
  background: #E10A0A;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
@media (min-width: 480px) {
  .lp-vertical-callouts__items::after {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  .lp-vertical-callouts__items::after {
    height: 140px;
  }
}
.lp-vertical-callouts__item {
  padding: 30px;
  border: 1px solid #E10A0A;
  position: relative;
}
@media (min-width: 768px) {
  .lp-vertical-callouts__item {
    padding: 40px;
  }
}
.lp-vertical-callouts__item-title {
  padding: 0 10px;
  background: #FFFFFF;
  position: absolute;
  font-size: 22px;
  font-weight: 400;
  top: -16px;
  left: 10px;
  margin-bottom: 20px;
  color: #E10A0A;
}
@media (min-width: 1024px) {
  .lp-vertical-callouts__item-title {
    font-size: 26px;
  }
}
.lp-vertical-callouts__item-description {
  font-size: 16px;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .lp-vertical-callouts__item-description {
    font-size: 20px;
  }
}

.lp-feature-standard {
  background: linear-gradient(108deg, #000 -29.66%, #E10A0A 86.64%);
  color: #FFFFFF;
  padding: 40px 0;
}
@media (min-width: 1024px) {
  .lp-feature-standard {
    padding: 60px 0;
  }
}
.lp-feature-standard__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .lp-feature-standard__inner {
    flex-direction: row;
    justify-content: center;
  }
}
.lp-feature-standard__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .lp-feature-standard__title {
    font-size: 60px;
  }
}
.lp-feature-standard__description {
  font-size: 22px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .lp-feature-standard__description {
    font-size: 32px;
    margin-bottom: 60px;
  }
}
.lp-feature-standard__media {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .lp-feature-standard__media {
    width: 50%;
    max-width: none;
  }
}
@media (min-width: 768px) {
  .lp-feature-standard__content {
    width: 50%;
    padding-top: 60px;
  }
}
@media (min-width: 1024px) {
  .lp-feature-standard__content {
    padding-top: 100px;
  }
}

.lp-callout-cards {
  padding: 80px 0 100px;
}
@media (min-width: 1024px) {
  .lp-callout-cards {
    padding: 170px 0 190px;
  }
}
@media (min-width: 1024px) {
  .lp-callout-cards__wrapper {
    border-top: 1px solid #E10A0A;
    border-bottom: 1px solid #E10A0A;
  }
}
.lp-callout-cards__inner {
  position: relative;
}
.lp-callout-cards__inner::before, .lp-callout-cards__inner::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60px;
  background: #E10A0A;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1024px) {
  .lp-callout-cards__inner::before, .lp-callout-cards__inner::after {
    height: 140px;
  }
}
.lp-callout-cards__inner::before {
  top: -70px;
}
@media (min-width: 1024px) {
  .lp-callout-cards__inner::before {
    height: 140px;
    top: -155px;
    left: 20px;
    transform: none;
  }
}
.lp-callout-cards__inner::after {
  bottom: -80px;
}
@media (min-width: 1024px) {
  .lp-callout-cards__inner::after {
    bottom: -175px;
  }
}
.lp-callout-cards__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (min-width: 1024px) {
  .lp-callout-cards__items {
    flex-direction: row;
    gap: 60px;
  }
}
.lp-callout-cards__item {
  width: 100%;
  border-right: 1px solid #E10A0A;
  border-left: 1px solid #E10A0A;
  border-bottom: 1px solid #E10A0A;
  border-top: 1px solid #E10A0A;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 480px) {
  .lp-callout-cards__item {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .lp-callout-cards__item {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .lp-callout-cards__item {
    width: 33.33%;
    padding: 40px;
    border-bottom: 0;
    border-top: 0;
  }
}
.lp-callout-cards__item img {
  max-width: 110px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .lp-callout-cards__item img {
    max-width: 130px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .lp-callout-cards__item-title {
    font-size: 32px;
  }
}
.lp-callout-cards__item-description {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .lp-callout-cards__item-description {
    margin-bottom: 40px;
  }
}
.lp-callout-cards__item-action {
  width: auto;
}

.lp-form {
  padding: 20px 0 60px;
}
@media (min-width: 1024px) {
  .lp-form {
    padding-bottom: 100px;
  }
}
.lp-form__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}
@media (min-width: 1024px) {
  .lp-form__title {
    font-size: 48px;
  }
}
.lp-form__description {
  text-align: center;
}
@media (min-width: 1024px) {
  .lp-form__description {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.lp-form .mktoForm {
  margin: 0 auto;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-template-columns: 1fr;
}
@media (min-width: 480px) {
  .lp-form .mktoForm {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
}
.lp-form .mktoForm .mktoFieldWrap,
.lp-form .mktoForm .mktoFormCol,
.lp-form .mktoForm .mktoHtmlText {
  width: 100% !important;
  margin-bottom: 0 !important;
}
.lp-form .mktoForm .mktoFormRow:nth-of-type(n+5) {
  grid-column: span 2;
}
.lp-form .mktoForm .mktoFormRow:nth-of-type(n+9) {
  display: none;
}
.lp-form .mktoForm .mktoCheckboxList {
  white-space: normal;
  width: 100% !important;
}
.lp-form .mktoForm .mktoCheckboxList label {
  white-space: normal !important;
  font-size: 14px !important;
}
@media (min-width: 480px) {
  .lp-form .mktoForm .mktoCheckboxList label {
    font-size: 16px !important;
  }
}
.lp-form .mktoForm .mktoCheckboxList a {
  padding-top: 0;
}
.lp-form .mktoForm .mktoButtonRow {
  margin-top: 20px !important;
  width: 100%;
  grid-column: span 2;
  text-align: center;
}
.lp-form .mktoForm .mktoButtonWrap {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}
.lp-form .mktoForm .mktoButtonWrap button,
.lp-form .mktoForm .mktoButtonWrap input[type=submit] {
  background: #E10A0A !important;
  border: 1px solid #E10A0A !important;
  color: #FFFFFF !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-size: clamp(16px, 1.5vw, 22px) !important;
  font-family: "Source Sans 3", sans-serif !important;
  font-weight: 400 !important;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 12px 30px !important;
  text-align: center;
  text-transform: uppercase;
  transition: cubic-bezier(0.4, 0, 1, 1) 300ms;
  width: auto;
  -webkit-font-smoothing: antialiased;
}
.lp-form .mktoForm .mktoButtonWrap:hover {
  background: rgb(202.5, 9, 9);
  border-color: rgb(202.5, 9, 9);
  color: #FFFFFF;
  text-decoration: none;
}
.lp-form .mktoForm .mktoFormCol label {
  font-weight: 400 !important;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  white-space: nowrap;
  margin-bottom: 4px;
}
.lp-form .mktoForm .mktoFormCol label .mktoAsterix {
  color: #E10A0A;
  display: inline;
}
.lp-form .mktoForm input[type=text],
.lp-form .mktoForm input[type=url],
.lp-form .mktoForm input[type=email],
.lp-form .mktoForm input[type=tel],
.lp-form .mktoForm input[type=number],
.lp-form .mktoForm input[type=date],
.lp-form .mktoForm textarea.mktoField,
.lp-form .mktoForm select.mktoField {
  width: 100% !important;
  height: 70px;
  border: none;
  outline: none;
  background: #E9E9E9;
  border-radius: 0;
  padding: 20px 24px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Source Sans 3", sans-serif;
}
.lp-form .mktoForm select.mktoField {
  appearance: none;
}
.lp-form .mktoForm .mktoError {
  left: 20px !important;
}

.lp-footer {
  background: #E10A0A;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .lp-footer__links nav {
    text-align: center;
  }
}
.lp-footer__links nav a {
  color: #FFFFFF;
  font-size: 12px;
  display: inline-block;
}
@media (min-width: 480px) {
  .lp-footer__links nav a {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .lp-footer__links nav a {
    font-size: 20px;
  }
}
.lp-footer__links nav a::after {
  display: inline-block;
  content: "·";
  padding-inline: 1rem;
}
.lp-footer__links nav a:last-of-type::after {
  content: "";
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
